<h1>
    Comments
</h1>
<div class="content mt-2">
    @for (comment of comments; track $index) {
        <div class="comment card">
            <div class="comment-header">
                <div class="comment-img">
                    <img src="{{comment.user.avatar}}" alt="">
                </div>
                <span>{{comment.user.name}}</span>
            </div>
            <div class="comment-body border-bottom">
                {{comment.content}}
            </div>
            <div class="comment-action">
                <button class="btn btn-danger" (click)="removeComment(comment.id, $index)">remove</button>
            </div>
        </div>
    }
</div>

