<h1>
    Comments
</h1>
<div class="content mt-2">
    <div class="comment card">
        <div class="comment-header">
            <div class="comment-info">
                <div class="comment-img">
                    <img src="" alt="">
                </div>
                <span>yossef magdy</span>
            </div>
            <span>on job (job title)</span>
        </div>
        <div class="comment-body border-bottom">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, dolorum tenetur. Laboriosam ea cum labore eum quisquam quasi tempora tempore veniam, explicabo beatae libero illo cupiditate a maiores recusandae quod!
        </div>
        <div class="comment-action">
            <button class="btn btn-danger">remove</button>
        </div>
    </div>
    <div class="comment card">
        <div class="comment-header">
            <div class="comment-info">
                <div class="comment-img">
                    <img src="" alt="">
                </div>
                <span>yossef magdy</span>
            </div>
            <span>on job (job title)</span>
        </div>
        <div class="comment-body border-bottom">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, dolorum tenetur. Laboriosam ea cum labore eum quisquam quasi tempora tempore veniam, explicabo beatae libero illo cupiditate a maiores recusandae quod!
        </div>
        <div class="comment-action">
            <button class="btn btn-danger">remove</button>
        </div>
    </div>

    <div class="comment card">
        <div class="comment-header">
            <div class="comment-info">
                <div class="comment-img">
                    <img src="" alt="">
                </div>
                <span>yossef magdy</span>
            </div>
            <span>on job (job title)</span>
        </div>
        <div class="comment-body border-bottom">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, dolorum tenetur. Laboriosam ea cum labore eum quisquam quasi tempora tempore veniam, explicabo beatae libero illo cupiditate a maiores recusandae quod!
        </div>
        <div class="comment-action">
            <button class="btn btn-danger">remove</button>
        </div>
    </div>
    <div class="comment card">
        <div class="comment-header">
            <div class="comment-info">
                <div class="comment-img">
                    <img src="" alt="">
                </div>
                <span>yossef magdy</span>
            </div>
            <span>on job (job title)</span>
        </div>
        <div class="comment-body border-bottom">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, dolorum tenetur. Laboriosam ea cum labore eum quisquam quasi tempora tempore veniam, explicabo beatae libero illo cupiditate a maiores recusandae quod!
        </div>
        <div class="comment-action">
            <button class="btn btn-danger">remove</button>
        </div>
    </div>
    <div class="comment card">
        <div class="comment-header">
            <div class="comment-info">
                <div class="comment-img">
                    <img src="" alt="">
                </div>
                <span>yossef magdy</span>
            </div>
            <span>on job (job title)</span>
        </div>
        <div class="comment-body border-bottom">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, dolorum tenetur. Laboriosam ea cum labore eum quisquam quasi tempora tempore veniam, explicabo beatae libero illo cupiditate a maiores recusandae quod!
        </div>
        <div class="comment-action">
            <button class="btn btn-danger">remove</button>
        </div>
    </div>
</div>

