<form action="" class="job_form" enctype="multipart/form-data" method="post">
    <div class="mb-3">
        <label for="job_title" class="form-label">Title</label>
        <input type="text" class="form-control" id="job_title" name="job_title">
    </div>
    <div class="mb-3">
        <label for="companyName" class="form-label">Company</label>
        <input type="text" class="form-control" id="companyName" name="companyName">
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" rows="3" name="description"></textarea>
    </div>

    <div class="mb-3">
        <label for="benefits" class="form-label">Job Benefits</label>
        <textarea class="form-control" id="benefits" rows="3" name="benefits"></textarea>
    </div>

    <div class="row">
        <div class="mb-3 col-6">
            <label for="deadline" class="form-label">Application Deadline</label>
            <input type="date" class="form-control" id="deadline" name="deadline">
        </div>
        <div class="mb-3 col-6">
            <label class="form-label">Work Type</label>
            <select class="form-select" name="work_type">
                <option selected>Select type from menu</option>
                <option value="Remote">Remote</option>
                <option value="On-site">On-site</option>
                <option value="Hybrid">Hybrid</option>
            </select>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Location</label>
        <select class="form-select" name="location">
            <option selected>Select location from menu</option>
            <option value="Cairo">Cairo</option>
            <option value="Giza">Giza</option>
            <option value="Alex">Alex</option>
        </select>
    </div>

    <!-- Skills -->
    <div class="mb-3">
        <label class="form-label main_label">Skills</label>
        <app-multi-select options_type ="skills" (keyup)="autoComplete($event)" [options]="skills"></app-multi-select>
    </div>

    <!-- Categories -->
    <div class="mb-3">
        <label class="form-label main_label">Category</label>
        <div class="row px-3">
            <div class="form-check col-6">
                <input class="form-check-input" type="checkbox" id="front-end" value="front-end" name="categories">
                <label class="form-check-label" for="front-end">front-end</label>
            </div>
            <div class="form-check col-6">
                <input class="form-check-input" type="checkbox" id="back-end" value="back-end" name="categories">
                <label class="form-check-label" for="back-end">back-end</label>
            </div>
        </div>
        <div class="row px-3">
            <div class="form-check col-6">
                <input class="form-check-input" type="checkbox" id="fullstack" value="fullstack" name="categories">
                <label class="form-check-label" for="fullstack">fullstack</label>
            </div>
            <div class="form-check col-6">
                <input class="form-check-input" type="checkbox" id="devops" value="devops" name="categories">
                <label class="form-check-label" for="devops">devops</label>
            </div>
        </div>
        <div class="row px-3">
            <div class="form-check col-6">
                <input class="form-check-input" type="checkbox" id="cloud" value="cloud" name="categories">
                <label class="form-check-label" for="cloud">cloud</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="mb-3 col-6">
            <label for="salary_from" class="form-label">Salary From</label>
            <input type="number" class="form-control" id="salary_from" name="salary_from">
        </div>
        <div class="mb-3 col-6">
            <label for="salary_to" class="form-label">Salary To</label>
            <input type="number" class="form-control" id="salary_to" name="salary_to">
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Experience Level</label>
        <select class="form-select" name="experience_level">
            <option selected>Select experience level from menu</option>
            <option value="Fresh">Fresh</option>
            <option value="Junior">Junior</option>
            <option value="Senior">Senior</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="employer_images" class="form-label">Company logo</label>
        <input type="file" class="form-control" id="employer_images" name="employer_images">
    </div>

    @if(page == 'create'){
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    }
    @else if (page == 'edit') {
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    }

</form>
