
<form [formGroup]="jobForm" class="job_form" enctype="multipart/form-data" (ngSubmit)="submit()">
    <div class="mb-3">
        <label for="job_title" class="form-label">Title</label>
        <input type="text" class="form-control" id="job_title" formControlName="job_title">

            <!-- validation -->
            @if (job_title?.touched && job_title?.hasError('required')){
            <div class="alert alert-danger  p-2">
                <span>Job Title is Required</span>
            </div>
            }
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" rows="3"  formControlName="description"></textarea>

        <!-- validation -->
        @if (description?.touched && description?.hasError('required')){
            <div class="alert alert-danger  p-2">
                <span>Description is Required</span>
            </div>
            }
    </div>

    <div class="mb-3">
        <label  class="form-label">Job Benefits</label>
        <app-multi-select options_type ="benefits" (selectedOptions)="onSelectedOptionsChange('benefits', $event)"></app-multi-select>
    </div>

    <div class="row">
        <div class="mb-3 col-6">
            <label for="deadline" class="form-label">Application Deadline</label>
            <input type="date" class="form-control" id="deadline"  formControlName="deadline">
        </div>
        <div class="mb-3 col-6">
            <label class="form-label">Work Type</label>
            <select class="form-select" name="work_type" formControlName="work_type">
                <option selected disabled>Select type from menu</option>
                <option value="remote">Remote</option>
                <option value="onsite">On-site</option>
                <option value="hybrid">Hybrid</option>
            </select>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Location</label>
        <select class="form-select" name="location_id" formControlName="location_id">
            <option selected disabled>Select location from menu</option>

            @for (location of locations; track location.id){
                <option value="{{location.id}}">{{location.name}}</option>
            }

        </select>
    </div>

    <!-- Skills -->
    <div class="mb-3">
        <label class="form-label main_label">Skills</label>
        <app-multi-select options_type ="skills" (selectedOptions)="onSelectedOptionsChange('skills', $event)"></app-multi-select>
    </div>

    <!-- Categories -->
    <div class="mb-3">
        <label class="form-label main_label">Category</label>
        <app-multi-select options_type ="categories" (selectedOptions)="onSelectedOptionsChange('categories', $event)"></app-multi-select>
    </div>

    <div class="row">
        <div class="mb-3 col-6">
            <label for="salary_from" class="form-label">Salary From</label>
            <input type="number" class="form-control" id="salary_from" name="salary_from" formControlName="salary_from">
        </div>
        <div class="mb-3 col-6">
            <label for="salary_to" class="form-label">Salary To</label>
            <input type="number" class="form-control" id="salary_to" name="salary_to" formControlName="salary_to">
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Experience Level</label>
        <select class="form-select" name="experience_level" formControlName="experience_level">
            <option selected disabled>Select experience level from menu</option>
            <option value="Fresh">Fresh</option>
            <option value="Junior">Junior</option>
            <option value="Senior">Senior</option>
        </select>
        <!-- validation -->
        @if (experience_level?.touched && experience_level?.hasError('required')){
            <div class="alert alert-danger p-2">
                <span>Experience level is Required</span>
            </div>
            }
    </div>

    <div class="mb-3">
        <label class="form-label">Branding Elements</label>
        <input type="file" class="form-control" multiple formControlName="images">
    </div>

    @if(page == 'create'){
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    }
    @else if (page == 'edit') {
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    }

</form>
