.job_form{
    padding: 3%;
    height: 100%;
}

.main_label{
    background-color: rgb(170, 172, 174);
    width: 100%;
    padding: 0.3rem;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    font-size: large;
}

.btn-success{
    background-color: rgb(29, 185, 63) !important;
}