.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}

.date {
    font-size: 0.9rem;
    color: #9e9e9e;
}

.job-title {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #A01A58;
}

.replies {
    color: #3b82f6;
    text-decoration: none;
    font-size: 0.9rem;
}

.skills {
    margin: 0.5rem 0;
    display: flex;
    gap: 0.5rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
.skills::-webkit-scrollbar {
    display: none;
}

.skill {
    display: inline-block;
    background-color: #0091AD;
    font-size: 0.8rem;
    color: white;
    min-width: fit-content;
}


.location {
    font-size: 0.9rem;
    color:  var(--darkblue);
    margin-bottom: 10px;
}

.description {
    font-size: 0.9rem;
    color: var(--darkblue);
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-buttons {
    display: flex;
    justify-content: end;
}

.btn {
    border: 1px solid transparent;
    font-size: 0.9rem;
    cursor: pointer;
}
.skills, .job-title, .location, .description::first-letter {
    text-transform: capitalize;
}

.details_btn{
    background-color: var(--purple);
}

.details_btn:hover{
    background-color: var(--lightpurple)
}

.edit-btn{
    background-color: var(--purple);
    color: white;
    margin: 0 5px;
}

.cancel-btn{
    background-color: var(--purple);
    color: white;
}

.cancel-btn:hover{
    background-color: var(--pink);
}

.postedJobs{
    background-color: var(--lightgray) !important;
    margin: 10px 0;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
.job_card {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}