<div class="job-card p-4">
    <div class="card-header">
        <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg" alt="Company Logo" class="logo">
        <!-- Posted at -->
        <span class="date">{{job.date_posted}}</span>
    </div>

    <h3 class="job-title">{{job.job_title}}</h3>
    <a routerLink="/applications" class="replies">{{job.applications}} replies</a>

    <div class="skills">
        @for (skill of job.skills; track $index) {
            <span class="skill">{{skill.name}}</span>
        }
    </div>

    <p class="location">{{job.location}}</p>
    <p class="description">
        {{job.description}}
    </p>

    @if(page == 'employer_profile'){
        <div class="card-buttons">
            <button class="btn btn-success" routerLink="/edit-post">Edit</button>
            <button class="btn btn-danger">Cancel</button>
        </div>
    }
    @else if (page == 'home_posts') {
        <div class="card-buttons">
            <button class="btn btn-success" routerLink="/job-details">More Details</button>
        </div>
    }
</div>
