<div class="shadow-sm rounded bg-white p-4 job_card">
    <div class="card-header">
        <span class="date">{{job.date_posted}}</span>
    </div>

    <h3 class="job-title">{{job.job_title}}</h3>

    @if (page == 'employer_profile'){
        <a [routerLink]="['/applications', job.slug]" class="replies">{{job.applications}} applications</a>
    }

    <div class="skills">
        @for (skill of job.skills; track $index) {
            <span class="skill px-2 py-1 rounded">{{skill.name}}</span>
        } @empty {
            <span class="skill px-2 py-1 rounded">No skills required</span>
        }
    </div>

    <p class="location">
        <span><i class="fa-solid fa-location-dot"></i></span>
        {{job.location}}
    </p>
    <p class="description" title="{{job.description}}">
        {{job.description}}
    </p>

    @if(page == 'employer_profile'){
        @if (job.status !== 'closed'){
            <div class="card-buttons">
                <button class="btn edit-btn" [routerLink]="['/edit-post', job.id]">Edit</button>
                <button class="btn btn-danger" (click)="cancelJobPost(job.id)">Cancel</button>
            </div>
        } @else {
            <span class="text-danger">Closed</span>
        }
    }
    @else if (page == 'home_posts') {
        <div class="card-buttons">
            <button class="btn btn-primary px-2 py-2 rounded details_btn" [routerLink]="['/job-details', job.slug]">More Details</button>
        </div>
    }
</div>
