<div class="job-card">
    <div class="card-header">
        <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg" alt="Company Logo" class="logo">
        <!-- Posted at -->
        <span class="date">7 July</span>
    </div>

    <h3 class="job-title">{{job.job_title}}</h3>
    <a routerLink="/applications" class="replies">3 replies</a>

    <div class="skills">
        <span class="skill">skill 1</span>
        <span class="skill">skill 2</span>
        <span class="skill">skill 3</span>
    </div>

    <p class="location">Country, City</p>
    <p class="description">
        We want our devices and services to be more than just beautiful, but also useful and intuitive. To achieve this goal ...
    </p>

    @if(page == 'employer_profile'){
        <div class="card-buttons">
            <button class="btn btn-success" [routerLink]="['/edit-post', job.id]">Edit</button>
            <button class="btn btn-danger">Cancel</button>
        </div>
    }
    @else if (page == 'home_posts') {
        <div class="card-buttons">
            <button class="btn btn-success" routerLink="/job-details">More Details</button>
        </div>
    }
</div>
