<div class="info">
    <img src="https://picsum.photos/200" alt="">
    <h3 class="text-center">'Candidate Name'</h3>
</div>

<div class="d-flex justify-content-between">
    <div class="profile p-3">
        <h3 class="text-center mb-3">Profile</h3>
        <p class="fw-bold">About Me:</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="fw-bold">Skills:</p>
        <ul>
            <li>Lorem</li>
            <li>Ipsum</li>
            <li>Dolor</li>
        </ul>
        <p class="fw-bold">Education:</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="fw-bold">Experience:</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="fw-bold">Languages:</p>
        <ul>
            <li>Lorem</li>
            <li>Ipsum</li>
            <li>Dolor</li>
        </ul>
    </div>
    
    <div class="jobs p-3">
        <h3 class="text-center mb-3">Submitted Jobs</h3>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>lorem</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>lorem</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>Dolor</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>