.info {
    border: 1px solid rgb(232, 232, 232);
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
    margin-top: 2rem;
    box-shadow: 8px 8px 8px 5px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
    background-color: #0091AD;
    border-radius: 10px;
    color: white;
}
.info:hover{
    transform: scale(1.01);

}

img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    box-shadow: 5px 5px 5px 3px rgba(113, 113, 113, 0.05);
}

.profile {
    border: 1px solid rgb(232, 232, 232);
    width: 30%;
    height: max-content;
    margin: 0 auto;
    border-radius: 5px;
    padding: 2rem;
    background-color: white;
    margin-top: 2rem;
    box-shadow: 5px 5px 5px 3px rgba(113, 113, 113, 0.05);
    
}

.jobs {
    border: 1px solid rgb(232, 232, 232);
    border-radius: 5px;
    height: max-content;
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: 5px 5px 5px 3px rgba(113, 113, 113, 0.05);
    margin: 2rem auto; 
    background-color: #1780A1;
    color: white;
}