.info {
    border: 1px solid rgb(232, 232, 232);
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
    margin-top: 2rem;
    box-shadow: 8px 8px 8px 5px rgba(0, 0, 0, 0.05);
}

img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    box-shadow: 5px 5px 5px 3px rgba(113, 113, 113, 0.05);
}

.profile {
    border: 1px solid rgb(232, 232, 232);
    width: 30%;
    padding: 2rem;
    background-color: white;
    margin-top: 2rem;
    box-shadow: 5px 5px 5px 3px rgba(113, 113, 113, 0.05);
    margin-left: 10%;
}

.jobs {
    border: 1px solid rgb(232, 232, 232);
    width: 30%;
    padding: 2rem;
    background-color: white;
    margin-top: 2rem;
    box-shadow: 5px 5px 5px 3px rgba(113, 113, 113, 0.05);
    margin-right: 10%;
}