<div class="styling container">
    <h3>Fill Your Details</h3>
<form>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Phone Number</label>
    <input type="number" class="form-control" id="phone">
  </div>
  <input type="hidden" name="type" value="form">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

