<h1>
    Posts
</h1>
<div class="grid mt-2 shadow p-3 bg-white border rounded-1">
    <div class="table-header">
        <div class="table-row">
            <span>job title</span>
            <span>location</span>
            <span>work type</span>
            <span>employer</span>
            <span>status</span>
            <span>controls</span>
        </div>
    </div>
    <div class="table-body">
         @for (job of jobs; track $index) {
             <div class="table-row">
                 <span>{{job.job_title}}</span>
                 <span>{{job.location.name}}</span>
                 <span>{{job.work_type}}</span>
                 <span>{{job.employer.name}}</span>
                 <span class="badge bg-secondary p-2">{{job.status}}</span>
                 <div class="controls">
                     <button class="btn btn-success" (click)="accept(job.id)">Accept</button>
                     <button class="btn btn-danger" (click)="reject(job.id)">Reject</button>
                 </div>
             </div>
         }
    </div>
</div>
