<div class="container">
    <h1>Applicants</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Applicant</th>
                <th>Applied on</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Actions</th>
                <th>Download CV</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td data-label="Name">Kay Tottleben</td>
                <td data-label="Applied on">07/27/2019</td>
                <td data-label="Phone number">029-291-3012</td>
                <td data-label="Email">example&#64;gmail.com</td>
                <td class="actions">
                    <button class="accept">Accept</button>
                    <button class="reject">Reject</button>
                </td>
                <td data-label="Download CV">Not Uploaded</td>
            </tr>
        </tbody>
    </table>
</div>