<div class="container">
    <h1>Applicants</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Applicant</th>
                <th>Applied on</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Actions</th>
                <th>Download CV</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                @if (job?.applications?.length > 0) {
                    @for (application of job.applications; track $index) {
                        <td data-label="Name">{{application.candidate.name}}</td>
                        <td data-label="Applied on">{{application.applyed_at | date}}</td>
                        <td data-label="Phone number">{{application.form ? application.form.phone_number : 'Not Provided'}}</td>
                        <td data-label="Email">{{application.candidate.email}}</td>

                        @if (application.status === 'pending') {
                            <td class="actions">
                                <button class="accept" (click)="applicationState(application.id, 'accept')">Accept</button>
                                <button class="reject" (click)="applicationState(application.id, 'reject')">Reject</button>
                            </td>
                        } @else if (application.status === 'accepted') {
                            <td class="actions">
                                <button class="reject" (click)="applicationState(application.id, 'reject')">Reject</button>
                            </td>
                        } @else if (application.status === 'rejected') {
                            <td class="actions">
                                <button class="accept" (click)="applicationState(application.id, 'accept')">Accept</button>
                            </td>
                        }

                        <td data-label="Download CV">
                            @if (application.cv) {
                                <a href="{{ application.cv }}" class="btn btn-primary" target="_blank" download="{{ application.candidate.name }}.pdf">Download</a>
                            } @else {
                                <span>Not Uploaded</span>
                            }
                        </td>
                    }
                } @else {
                    <td colspan="6">No Applications</td>
                }
            </tr>
        </tbody>
    </table>
</div>