main {
    display: grid;
    grid-template-columns: 12rem 1fr;
    align-items: start;
}
.content {
    max-width: 100dvw;
    overflow-x: scroll;
}
@media (max-width: 768px) { 
    main {
        grid-template-columns: 1fr;
    }
}