main {
    display: grid;
    grid-template-columns: 12rem 1fr;
    align-items: start;
    overflow: auto;
    max-height: 100dvh;
}
.content {
    max-width: 100dvw;
    min-height: 100dvh;
    overflow: auto;
}
@media (max-width: 768px) { 
    main {
        grid-template-columns: 1fr;
    }
}