main {
    display: grid;
    grid-template-columns: 12rem 1fr;
    align-items: start;
    max-height: calc(100dvh - 57px);
}
.content {
    max-width: 100dvw;
    min-height: calc(100dvh - 57px);
    overflow: auto;
}
.content {
    max-width: 100dvw;
    min-height: 100dvh;
    overflow-x: scroll;
}
@media (max-width: 768px) { 
    main {
        grid-template-columns: 1fr;
    }
}