<section class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mb-4">
            <div class="border styling p-3 mb-4">
                <div class="d-flex gap-3 align-items-center">
                    <img src="https://picsum.photos/200" alt="Job Image" width="150px" height="150px">
                    <h1 class=" w-100">Job Title</h1>
                </div>
            </div>
            <div class="styling p-3">
                <h4>Job Category</h4>
                <p class="fw-bold">Job Description:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="fw-bold">Job Benefits:</p>
                <ul>
                    <li>Lorem</li>
                    <li>Ipsum</li>
                    <li>Dolor</li>
                </ul>
                <p class="fw-bold">Skills:</p>
                <ul>
                    <li>Lorem</li>
                    <li>Ipsum</li>
                    <li>Dolor</li>
                </ul>
                <p class="fw-bold">Deadline:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>

        <div class="col-lg-4 d-flex flex-column align-items-center">
            <div class="mb-4">
                <a class="btn btn-success w-100" href="#">Apply For This Job</a>
            </div>
            <div class="styling p-3 w-100">
                <p class="fw-lighter">Job Location:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="fw-lighter">Employment Type:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="fw-lighter">Minimum Experience:</p>
                <p>Lorem ipsum dolor.</p>
            </div>
        </div>
    </div>
</section>
