<section class="container mt-5">
    <div class="images">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://picsum.photos/200" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://picsum.photos/200" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://picsum.photos/200" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mb-4">
            <div class="border styling p-3 mb-4">
                <div class="d-flex gap-3 align-items-center">
                    <h1 class="text-center w-100">Job Title</h1>
                </div>
            </div>
            <div class="styling p-3">
                <h4>Job Category</h4>
                <p class="fw-bold">Job Description:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="fw-bold">Job Benefits:</p>
                <ul>
                    <li>Lorem</li>
                    <li>Ipsum</li>
                    <li>Dolor</li>
                </ul>
                <p class="fw-bold">Skills:</p>
                <ul>
                    <li>Lorem</li>
                    <li>Ipsum</li>
                    <li>Dolor</li>
                </ul>
                <p class="fw-bold">Deadline:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>

        <div class="details col-lg-4 d-flex flex-column align-items-center">
            <div class="mb-4">
                <a class="btn btn-success w-100" routerLink="/apply-for-job">Apply For This Job</a>
            </div>
            <div class="styling p-3 w-100">
                <p class="fw-lighter">Job Location:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="fw-lighter">Employment Type:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="fw-lighter">Minimum Experience:</p>
                <p>Lorem ipsum dolor.</p>
            </div>
        </div>
    </div>
    <!-- Comments Section-->
    <!-- Display Comments -->
    <h3 class="comments text-center">Comments</h3>
    <div class="comments-container mt-4">
      <div class="comment-box">
          <div class="image">
              <img src="https://picsum.photos/50" alt="User Avatar">
          </div>
          <div class="content">
              <h5 class="name">John Doe</h5>
              <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, porro.</p>
              <small class="text-muted">Posted on: August 26, 2024</small>
          </div>
      </div>
  </div>

    <app-comments class="comment mt-5"></app-comments>
</section>
