<div class="container mt-5"></div>
  <ul class="nav nav-tabs ">
    <li class="nav-item">
      <a class="nav-link" [class.active]="selectedTab == 'cv'" id="upload-tab" (click)="selectedTab = 'cv'">Upload
        CV</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="selectedTab == 'form'" id="form-tab" (click)="selectedTab = 'form'">Fill
        Form</a>
    </li>
  </ul>

  <div class="mt-3">
    @if (selectedTab == 'cv') {
    <app-apply-with-cv [jobId]="jobId"></app-apply-with-cv>
    }
    @else if (selectedTab == 'form') {
    <app-apply-with-form [jobId]="jobId"></app-apply-with-form>
    }
  </div>
</div>