.employer_info{
    margin-top: 2rem;
    /* border: 2px solid rgb(211, 211, 211); */
    border-radius: 8px;
    padding: 10px;
    width: 90%;
    color: var(--darkblue);
}

.label{
    color:  rgb(136, 135, 135) ;
}

.data{
    font-weight: bold;
}