.form-wrapper {
    max-width: 600px;
}
label {
    font-size: 13px;
    font-weight: 600;
}
button {
    font-weight: 600;
}
.error {
    font-size: 13px;
    color: red;
}
.form-role {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 1rem;
}
.form-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bs-light-bg-subtle);
    border: var(--bs-border-width) var(--bs-border-style) transparent;
    height: 4rem;
}
.form-card:has(input[type="radio"]:checked) {
    border-color: black;
}
.form-card:hover {
    border-color: var(--bs-border-color);
}