.edit_head{
    background-color: var(--purple);
    color: white;
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding: 1%;
    text-align: center;
}

h2{
    font-size: 40px;
    font-weight: bold;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.form_section{
    width: 70%;
    background: white;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 20px -10px black;
}

@media (max-width: 768px) { 
    .create_head{
        padding: 10px;
    }

    h2{
        font-size: 25px;
    }
    
}