.form-search {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
}
.form-select {
    width: auto;
}
.secondary-search {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.5rem;
}
.form-control {
    width: auto;
}

.jobs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}