<div class="info">
    <img src="https://picsum.photos/200" alt="">
    <h3 class="text-center">Employer Name</h3>
</div>



<div class="row profile_content">
    <div class="settings_tabs col-3">
        <h2>Settings</h2>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" [class.active]=" selectedTab == 'myInfo' " id="myInfo" (click)="selectedTab = 'myInfo'" routerLink="/employer-info">My info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]=" selectedTab == 'postedJobs' " id="postedJobs" (click)="selectedTab = 'postedJobs'" routerLink="/posted-jobs">Posted Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]=" selectedTab == 'reviewApplications' " id="reviewApplications" (click)="selectedTab = 'reviewApplications'" routerLink="/review-applications">Review Applications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/post-job">Post a new job</a>
            </li>
        </ul>
    </div>

    <div class="show_tab col-9">
        @if (selectedTab == 'myInfo') {
            <app-employer-info></app-employer-info>
        }
        @else if (selectedTab == 'postedJobs') {
            <app-posted-jobs></app-posted-jobs>
        }
        @else if (selectedTab == 'reviewApplications') {
            <app-review-applications></app-review-applications>
        }

    </div>
</div>

