<div class="info">
    <img [src]="user?.avatar" alt="">
    <h3 class="text-center">{{user?.name}}</h3>
</div>



<div class="row profile_content">
    <div class="settings_tabs col-3">
        <h2>Settings</h2>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" [class.active]=" selectedTab == 'myInfo' " id="myInfo" (click)="selectedTab = 'myInfo'" routerLink="/employer-info">My info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]=" selectedTab == 'postedJobs' " id="postedJobs" (click)="selectedTab = 'postedJobs'">Posted Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/post-job">Post a new job</a>
            </li>
        </ul>
    </div>

    <div class="show_tab col-9">
        @if (selectedTab == 'myInfo') {
            <app-employer-info [user]="user"></app-employer-info>
        }
        @else if (selectedTab == 'postedJobs') {
            <app-posted-jobs></app-posted-jobs>
        }
    </div>
</div>

